@use './utils/variables';
@use './utils/mixins';
@use './base/reset';
@use './base/typography';
@use './layout/header';
@use './layout/footer';
@use './components/carousel';
@use './components/contact';
@use './components/loading';
@use './components/portrait';
@use './components/projects';
@use './components/skills';
@use './pages/home';
@use './pages/projectDetails';
@use './pages/about';
@use './pages//NotFound.scss';
@use './components/SkillProjects';
@use './components/ReconversionVideo';


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.6;
}