// Couleurs
$primary-color: #8BC7B1;
$secondary-color: #ffffff;
$accent-color: #00334d;
$hover-color: rgba(0, 0, 0, 0.1);

// Polices
$base-font-size: 16px;
$font-family: 'Arial', sans-serif;

// Espacements
$padding: 15px;
$margin: 25px;

// Ombres
$box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

// Ajouts pour Loading
$loading-gradient: linear-gradient(135deg, #8bc7b1 45%, #4a90e2);
$loading-text-color: #5a5a5f;

// contact
$modal-bg: rgba(0, 0, 0, 0.5);
$content-bg: #8bc7b1;
$hover-color: #4a90e2;
$border-radius: 10px;
$padding: 20px;


// Carousel 
$primary-accent: #8BC7B1;
$background-white: #ffffff;
$text-dark: #333;
$text-gray: #555;
$text-light-gray: #666;
// Bordures et ombres
$border-radius: 10px;
$box-shadow-light: 0 10px 20px rgba(0, 0, 0, 0.2);

// Footer
$footer-bg: #ffffff;
$text-color-dark: #333;
$linkedin-hover: #0077b5;
$footer-padding: 40px 0;
$footer-height: 350px;
$footer-wave-height: 100px;

// Header
$header-bg: rgba(255, 255, 255, 0.1);
$text-dark: #00334d;
$text-muted: #5b5963;
$header-height: 80px;
$header-padding: 10px 20px;

// Portrait
$primary-color: #8BC7B1;
$secondary-text-color: #5b5963;
$heading-color: #00334d;
$border-radius: 10px;
$box-shadow-portrait: 0 10px 15px rgba(0, 0, 0, 0.3), 0 20px 30px rgba(0, 0, 0, 0.15);

// Projects
$card-bg: #f9f9f9;
$text-color: #333;
$secondary-text: #555;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
$border-radius: 10px;

// Skills
$skill-card-bg: #ffffff;
$progress-bg: #f0f0f0;
$progress-fill: #8bc7b1;
$text-color: #333;
$box-shadow-light: 0 4px 10px rgba(0, 0, 0, 0.1);
$border-radius: 10px;

// Home
$cv-button-bg: #ffffff;
$cv-button-hover-bg: #f0f0f0;
$primary-accent: #8BC7B1;
$box-shadow-button: 4px 4px 10px rgba(0, 0, 0, 0.2);
$border-radius-small: 5px;

// ProjectDetails
$project-bg: #8bc7b1;
$text-dark: #2f2f2f;
$text-muted: #5b5963;
$link-color: #004466;
$link-hover-color: #00334d;
$gold-color: gold;
$box-shadow-light: 0 4px 10px rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0 4px 15px rgba(0, 0, 0, 0.2);
$border-radius: 8px;

