.avis-container {
    background: linear-gradient(135deg, #8bc7b1 45%, #4a90e2);
    background-size: 200% 200%;
    animation: gradient 6s ease infinite;
    padding: 5% 0 2% 0;
    font-family: "Montserrat", sans-serif;
    color: #333;
  
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  
    h1 {
      text-align: center;
      font-size: 2.5rem;
      color: #ffffff;
      margin-bottom: 20px;
      font-weight: bold;
      position: relative;
  
      .animated-title {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        border-right: 3px solid #ffffff;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        animation: typing 3s steps(30, end), blink 0.5s step-end infinite alternate;
  
        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 100%;
          }
        }
  
        @keyframes blink {
          from {
            border-color: transparent;
          }
          to {
            border-color: #ffffff;
          }
        }
      }
    }
  
    .separator {
      width: 100%;
      height: 4px;
      background: linear-gradient(90deg, #ffffff, rgba(255, 255, 255, 0));
      margin: 20px 0 60px 0;
      animation: separator-expand 1s ease-in-out forwards;
  
      @keyframes separator-expand {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
    }
  
    .avis-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 30px; /* Définit un espace entre les cartes (horizontal et vertical) */
      justify-items: center;
      padding: 0 5%;
      margin-bottom: 5%;
    }
  
    .avis-card {
      position: relative;
      background-color: #ffffff;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      padding: 20px;
      text-align: center;
      max-width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
  
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
      }
  
      .avis-image {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin: 0 auto 15px auto;
        border: 3px solid #8bc7b1;
        transition: transform 0.3s ease;
  
        &:hover {
          transform: rotate(10deg) scale(1.1);
        }
      }
  
      h3 {
        margin: 10px 0 5px;
        font-size: 1.4rem;
        color: #4a90e2;
      }
  
      h4 {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        color: #555;
      }
  
      p {
        font-family: 'Parisienne', cursive;
        font-size: 1.4rem;
        color: #666;
        line-height: 1.6;
        margin: 0 15px 15px 15px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .linkedin-icon {
        font-size: 2rem;
        color: #0a66c2;
        transition: transform 0.3s ease, color 0.3s ease;
        margin-bottom: 2%;
        margin-top: auto;
  
        &:hover {
          background-color: #0a66c2;
          color: #ffffff;
          border-radius: 5px;
          transform: scale(1.2);
        }
      }
    }
  
    /* RESPONSIVE */
    @media (max-width: 1432px) {
      .avis-cards {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Ajuste la largeur minimale */
        gap: 40px; /* Ajoute plus d'espace entre les cartes */
      }
      
    }
  
    @media (max-width: 768px) {
      .avis-cards {
        grid-template-columns: 1fr; /* Une seule colonne */
        gap: 20px; /* Réduit l'espace entre les cartes */
      }
  
      h1 {
        font-size: 2rem; /* Ajuste la taille du titre */
      }
    }
  }
  