.informations {
    background-color: #8BC7B1;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
  
    .cv-button {
      background-color: #0056b3; // Couleur bleue du bouton
      color: white; // Texte en blanc
      border: 2px solid #0056b3; // Bordure bleue
      border-radius: 12px; // Radius pour arrondir les coins
      padding: 15px 25px; // Agrandir le bouton
      font-size: 18px; // Augmenter la taille du texte
      font-weight: bold; // Texte en gras
      cursor: pointer; // Curseur pointeur au survol
      position: relative; // Nécessaire pour le gap
      transition: transform 0.3s ease, box-shadow 0.3s ease; // Transition pour l'effet
      margin-bottom: 50px;
      margin-top: 15px;
  
      &::after {
        content: ''; // Élément pseudo pour le gap
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        border: 2px solid #0056b3; // Bordure externe bleue
        border-radius: 16px; // Radius pour correspondre au bouton
        pointer-events: none; // Pour éviter les interactions
      }
  
      &:hover {
        transform: scale(1.1); // Grossissement à 110% au hover
        box-shadow: 0 4px 15px rgba(0, 123, 255, 0.4); // Ombre pour un effet stylé
      }
    }
    
    .CardSkill {
      margin-top: 30px;
      margin-bottom: 50px;
      padding: 20px;
      border: 1px solid #ffffff; /* Bordure blanche */
      border-radius: 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Ombre pour effet 3D */
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      background-color: #ffffff;
    }
  }