.project-details {
    padding: 20px;
    text-align: center;
    background-color: #8BC7B1;
  
    h1 {
      color: #333;
    }
  
    .project-images {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
  
      img {
        width: 200px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }
    }
  
    a {
      display: inline-block;
      margin: 10px;
      color: #4a90e2;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }