.carousel {
    position: relative;
    width: 100%;
    height: 370px;
    overflow: hidden;
  
    @media (max-width: 750px) {
      margin-left: 15px;
      
    }
  
    .item {
      margin-top: 40px;
      position: absolute;
      width: 250px; /* Ajusté pour correspondre à vos besoins */
      height: 250px;
      text-align: center; /* Centre le contenu horizontalement */
      background-color: var(--bg-card);
      border-radius: 10px;
      padding: 20px 20px 40px; /* Espace en bas pour compenser l'image qui dépasse */
      transition: 0.5s;
      left: calc(50% - 150px); /* Centrage horizontal */
      top: 10px; /* Ajuste la position verticale si nécessaire */
      box-shadow: var(--shadow-medium);
      border: 2px solid var(--border-color);
      
      @media (max-width: 750px) {
        min-width: 60%; // Ajuste la largeur à 90% de l'écran
        height: auto; // Hauteur dynamique basée sur le contenu
        left: 5%; // Centre horizontalement
        padding: 20px 4px 4px 4px;
      }
  
      @media (max-width: 585px) {
        height: 260px;
        width: 200px;
      }
  
      .carousel-image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        top: -40px; /* Fait dépasser l'image à 50 % de sa hauteur */
        left: 50%;
        transform: translateX(-50%);
        border: 3px solid #8BC7B1;
        z-index: 1; /* Assure que l'image est au-dessus de la carte */
      }
  
      .carousel-content {
        margin-top: 10px; /* Compense l'espace pris par l'image */
        padding-top: 10px;
        @media (max-width: 750px) {
          margin-top: 5px;
        }
  
        h4 {
          font-size: 1.1rem;
          color: var(--text-primary);
          margin: 0; /* Supprime les marges par défaut */
          margin-top: 10px; /* Ajuste l'espacement avec l'image */
        }
  
        h5 {
          font-size: 0.9rem;
          color: var(--text-secondary);
          font-weight: normal;
          margin-top: 5px;
          margin-bottom: 15px;
          font-style: oblique 20deg;
  
          @media (max-width: 750px) {
            margin-bottom: 10px;
          }
        }
  
        p {
          font-size: 0.9rem;
          color: var(--text-muted);
          margin-top: 10px;
          line-height: 1.4;
  
          
        }
      }
    }
  }
  