.projects-container {
    text-align: center; /* Centre le titre et le conteneur */
    padding: 20px;
    margin-bottom: 60px;
  
    h2 {
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.2;
      color: #5b5963; /* Code couleur utilisé précédemment */
      margin-bottom: 20px; /* Espace entre le titre et les cards */
      text-align: center; /* Assure que le texte est centré */
      width: 100%; /* Prend toute la largeur disponible */
    }
  
    .projects-list {
      display: flex;
      flex-wrap: wrap; /* Permet aux cards de revenir à la ligne */
      justify-content: center; /* Centre les cards horizontalement */
      gap: 20px; /* Espace entre les cards */
    }
  
    .project-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 300px; /* Dimensions de la card */
      height: 200px;
      margin: 15px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      }
  
      .project-image {
        width: 100%;
        height: 100%;
        background-size: contain; /* Affiche toute l'image */
        background-repeat: no-repeat;
        background-position: center;
      }
  
      .project-details {
        margin-top: 10px;
        font-size: 1.2rem;
        color: #333;
        text-transform: uppercase;
        font-weight: bold;
        background-color: white;
      }
    }
  }